@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.caveat-font {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  .logo {
    font-family: "Caveat", cursive;
    transform: rotate(-5deg);
    font-size: 4rem;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

nav {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 16px;
}

nav ul li a:hover {
    color:red ;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 30px red;
    }
}


h2 {
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    animation: glow 1.5s infinite alternate;
}

h2:hover {
    color: red;
    cursor: pointer;
}


.grid-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}


.grid-container img {
    border-radius: 12px;
    transition: all ease-in-out 0.25s;
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flexbox;
    object-fit: cover;
}

.grid-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(red, green, blue, alpha);
    cursor: pointer;
}

footer {
    background-color: black;
    color: red;
    text-align: center;
    padding: 10px 20px;
}

h1 {
    color: red;
    padding: 50px;
    text-align: center;
    text-decoration: underline;
}